@page
@model AspNetCoreFundamentals_Coursework.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "List";
}

<h1 class="text-info">Restaurants</h1>

<form method="get">
    <div class="container row p-0">
        <div class="col-9">
            <input type="search" class="form-control" asp-for="SearchTerm"/>
        </div>
        <div class="col-3">
            <button class="btn btn-info form-control text-white m-0">Search</button>
        </div>
    </div>
</form>
<table class="table table-striped border">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Cuisine Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var restaurant in Model.Restaurants)
        {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.Cuisine</td>
            <td>
                <a asp-page="./Detail" asp-route-restaurantId="@restaurant.Id" class="btn btn-info">Details</a>
                <a asp-page="./Edit" asp-route-restaurantId="@restaurant.Id" class="btn btn-success">Edit</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<a asp-page="./Edit" class="btn btn-primary">+ Add New Restaurant</a>